*{
	margin:0;
	padding:0;
    border:0;
	box-sizing: border-box;
}

html,body{
	height:100%;
}
body{
	background: url(../img/image1.jpg) left top no-repeat;
	background-size: cover;
	/*background-color: #f2f2f2;*/
	font-family: 'Raleway', sans-serif;
}
/**/

/*for message typing*/
.message-wrapper{
	width:50%;
	height:auto;
	margin:0 auto 0;
}

.text{
	max-width: 80%;
	margin:auto;
    padding-top:30%;
/*	color: #333333;*/
    color: antiquewhite;
/*	opacity:0;*/
}

.blueback{
    background-color: blue;
}
.text span{
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
    margin-top:10%;
}

.hide{
	display:none;
}


.blinker{
	opacity: 0;
}
/**/

/*for bottom pillars*/
.pillars-container{
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}


.color{
    height:100%;
    position: relative;
    width: 25%;
    float:left;
    bottom:-20%;
    transition: color 0.5s;
    text-align: center;
    background-color: white;
    
}

.color:hover{
    color:white;
}

.pillars-container span{
    position: relative;
    float:left;
    z-index: 10;
    font-size:1.4em;
    display: inline;
    padding:5%;
}

.color1{
/*    background-color:#44B3C2;*/
    border-top:#44B3C2 5px solid;
    transition: background-color 0.5s;
}

.color2{
/*    background-color:#F1A94E;*/
    border-top:#F1A94E 5px solid;
    transition: background-color 0.5s;
}

.color3{
/*    background-color:#E45641;*/
    border-top:#E45641 5px solid;
    transition: background-color 0.5s;
}

.color4{
/*    background-color:#5D4C46;*/
    border-top:#5D4C46 5px solid;
    transition: background-color 0.5s;
}

.color1:hover{
    background-color:#44B3C2;

}

.color2:hover{
    background-color:#F1A94E;

}

.color3:hover{
    background-color:#E45641;

}

.color4:hover{
    background-color:#5D4C46;
}
